@tailwind utilities;

@layer utilities {
   
  .typography-display-s {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-body-m {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-body-l {
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-heading-s {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-heading-xs {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-heading-m {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 


}